.projects {
  margin: 0 100px;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.projects-item {
  width: 32.6%;
  height: 250px;
  background-color: var(--bg-color-4);
  transition: 1s;
}

.background,
.project-details,
.project-details-title,
.project-details-content,
.project-about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #20202065;
  padding: 5%;
  animation: toogle-left 0.5s ease-in-out;
}

.project-details {
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  flex-direction: column;
  background-color: var(--bg-color-4);
  justify-content: start;
}

.project-details-title {
  width: 100%;
  justify-content: space-between;
  animation: toogle-opacity 1s ease-in-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.project-details-title h3 {
  color: var(--color-2);
}

.project-details-title svg {
  font-size: 30px;
  color: var(--color-1);
}

.project-details-content {
  justify-content: space-between;
}
.project-image {
  background-color: aqua;
  width: 35%;
}

.project-about {
  width: 65%;
  flex-direction: column;
}

@keyframes toogle-left {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes toogle-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.teste {
  opacity: 0;
  animation: teste 1s forwards;
}

@keyframes teste {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.projects-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-title h3 {
  color: var(--color-2);
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}

.projects-title svg {
  color: var(--color-1);
  font-size: 30px;
}

.project-img {
  margin-top: 1.5rem;
  background-color: var(--bg-color-3);
  width: 100%;
  height: 160px;
}
