.projects {
  margin: 0 200px;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.projects-item {
  width: 30%;
  height: 100%;
  background-color: var(--bg-color-4);
  transition: 1s;
}

.background,
.project-details,
.project-details-title,
.project-details-content,
.project-about,
.project-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background,
.background-close {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #20202065;
  animation: toogle-left 1s ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.background-close {
  animation: toogle-left-off 0.5s ease-in-out forwards;
}

.project-details {
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  flex-direction: column;
  background-color: var(--bg-color-4);
  justify-content: start;
}

.project-details-title {
  width: 100%;
  height: 10%;
  justify-content: space-between;
  animation: toogle-opacity 1s ease-in-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.project-details-title h3,
.project-about h3 {
  color: var(--color-2);
  font-weight: 400;
  font-size: 1.5rem;
}

.project-details-title svg {
  font-size: 30px;
  color: var(--color-1);
}

.project-details-content {
  justify-content: space-between;
  height: 90%;
}
.project-image {
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color-5);
  width: 45%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.project-image img {
  padding: 10px;
  width: 100%;
  scroll-snap-align: start;
}

@keyframes toogle-left {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes toogle-left-off {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes toogle-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.teste {
  opacity: 0;
  animation: teste 1s forwards;
}

@keyframes teste {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.projects-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-title h3 {
  color: var(--color-2);
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}

.projects-title svg {
  color: var(--color-1);
  font-size: 30px;
}

.project-image-title {
  margin-top: 1.5rem;
  background-color: var(--bg-color-3);
  width: 100%;
  height: 100%;
}

.project-about {
  width: 55%;
  height: 100%;
  padding: 0 2.5rem;
  flex-direction: column;
  justify-content: space-between;
}

.project-about-text {
  width: 70%;
  padding: 1.5rem;
  background-color: var(--bg-color-1);
}

.project-about-language {
  transform: scale(1.7);
}

.project-about-language svg path:hover {
  color: aliceblue;
}

.project-about-link {
  margin-bottom: 70px;
}

.project-about-link a {
  color: var(--color-1);
  background-color: var(--bg-color-5);
  padding: 10px;
}

.modal-open {
  overflow: hidden;
}

@media (max-width: 1330px) {
  .projects {
    margin: 0 120px;
  }
  .about p {
    margin: 120px;
  }
  .project-details-title h3,
  .project-about h3 {
    font-size: 1.2rem;
  }
  .project-about-text {
    width: 100%;
    padding: 1rem;
  }

  .project-about-language {
    transform: scale(1);
  }
}

@media (max-width: 810px) {
  .projects-item {
    width: 45%;
  }
  .projects {
    margin: 0 50px;
  }
  .project-details-content {
    flex-direction: column;
  }
  .project-image {
    width: 75%;
  }
  .project-about {
    width: 90%;
  }
  .project-about-language {
    transform: scale(0.8);
  }
  .project-details-title {
    justify-content: space-evenly;
  }
  .project-details-content h3 {
    margin: 10px 0;
  }
}

@media (max-width: 600px) {
  .projects {
    margin: 0 20px;
  }

  .projects-item {
    width: 100%;
  }
  .project-details-content {
    flex-direction: column;
  }
  .project-image {
    width: 75%;
  }
  .project-about {
    width: 90%;
  }
  .project-about-language {
    transform: scale(0.8);
  }
  .project-details-title {
    justify-content: space-evenly;
  }
  .project-details-content h3 {
    margin: 10px 0;
  }
  .project-details {
    padding: 0;
  }
  .project-details h3 {
    font-size: 18px;
  }
  .project-details p {
    font-size: 16px;
  }
  .background {
    padding: 0;
  }
}
