.navbar-left {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100px;
  background: #2020206f;
}
.icon {
  margin-top: 2.5rem;
}
.navbar-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  height: 100vh;
}
.pipe {
  width: 0;
  height: 100%;
  border: 3px solid #ffee32;
  border-radius: 25px;
}

.ul-navbar-left {
  list-style: none;
  padding: 0;
  margin: 10;
}

.ul-navbar-left li {
  margin: 10px 0;
}

.ul-navbar-left li a {
  text-decoration: none;
  color: var(--color-1);
  font-size: 30px;
  transition: 0.5s;
}

.ul-navbar-left li a:hover {
  transition: 0.5s;
  color: var(--color-2);
}

.ul-navbar-left li a svg {
  transition: 0.5s;
}

.ul-navbar-left li a svg:hover {
  transform:scale(1.5);
  transition: 0.5s;
}
