.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.title {
  color: var(--color-1);
  font-size: 2.5rem;
  font-weight: 400;
}

.btn-portfolio {
  background-color: var(--bg-color-1);
  width: 330px;
  margin: 3rem auto;
  display: flex;
  cursor: pointer;
  clip-path: polygon(0 0, 92% 0, 100% 100%, 0% 100%);
  text-decoration: none;
  color: var(--color-3);
}

.btn-portfolio span {
  background-color: var(--bg-color-2);
  display: flex;
  justify-content: center;
  align-items: end;
  width: 50px;
  height: 40px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.btn-portfolio span svg {
  animation: arrow-anim 1s infinite cubic-bezier(0.95, 0.05, 0.795, 0.035)
    alternate;
}

@keyframes arrow-anim {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(3px);
  }
}

.btn-portfolio span svg {
  font-size: 1.8rem;
}

.btn-portfolio p {
  font-weight: 500;
  font-size: 1.3rem;
  margin: auto 15px;
}

@media (max-width: 1330px) {
  .main {
    height: 100vh ;
  }
}

@media (max-width: 810px) {
  .main {
    height: 105vh;
  }
}
