.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 200px;
}

.nav-top {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.nav-top-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.icon {
  color: var(--color-1);
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}

.ul-about {
  font-size: 1.5rem;
  font-weight: 200;
  list-style: none;
  display: flex;
}

.ul-about li {
  margin: 0 10px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
}

.ul-about li p {
  margin: 0;
}

.ul-about li a {
  text-decoration: none;
  color: var(--color-1);
}

.line {
  width: 0px;
  height: 0px;
  border: 1px solid var(--color-1);
  opacity: 0;
  border-radius: 25px;
  transition: 0.5s;
}

.ul-about li p a:hover {
  color: var(--color-2);
  transition: 0.5s;
}

.ul-about li p:hover + .line {
  width: 130px;
  border: 1px solid var(--color-2);
  opacity: 100%;
  transition: 0.5s;
}

.icon-top,
.icon-menu {
  color: var(--color-1);
  font-size: 3rem;
  font-weight: 500;
  margin-left: 0 10px;
  display: none;
  margin: 0 25px;
}

.icon-menu {
  font-size: 70px;
}
.pipe-top {
  width: 100%;
  margin: 0 25px;
  height: 0;
  border: 3px solid #ffee32;
  border-radius: 25px;
  display: none;
}

.icon-menu {
  animation: icon-menu 0.5s forwards;
}

.appear {
  position: relative;
  top: 0 !important;
  transition: .3s;
}
.hide {
  position: relative;
  top: -195px;
  transition: .3s;
}

@keyframes icon-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@media (max-width: 810px) {
  .icon-top,
  .pipe-top,
  .icon-menu {
    display: block;
  }
  .ul-about{
    flex-direction: column;
    
  }
  .ul-about li{
    margin: 10px;
  }
  .nav-top {
    justify-content: center;
    flex-direction: column-reverse;
    position: relative;
    top: -195px;
    transition: .3s;
  }
}

@media (max-width: 600px) {
  .icon-top {
    font-size: 40px;
  }
  .icon-menu {
    font-size: 90px;
  }
}
